
#Azure AI Foundry project endpoint- for trade-llm-deployed-mode-resource project
AZURE_AI_FOUNDRY_PROJECT_ENDPOINT =

#Azure OpenAI endpoint- for trade-llm-deployed-mode-resource project
AZURE_OPENAI_ENDPOINT =

#Azure AI Services endpoint- for trade-llm-deployed-mode-resource project
AZURE_AI_SERVICES_ENDPOINT =
AZURE_AI_SERVICES_SPEECH_TO_TEXT = 
AZURE_AI_SERVICES_TEXT_TO_SPEECH = 

#MODEL trade-llm-deployed1-model-gpt-4o - for trade-llm-deployed-mode-resource project
MODEL_ENDPOINT = 
DEPLOYMENT_NAME  = 
MODEL_NAME = 

#KEY2- Keys are common for all endpoints- - for trade-llm-deployed-mode-resource project
ENDPOINTS_KEY =

#AGENTS ID in- for trade-llm-deployed-mode-resource project
AGENT_ID =